<ion-content>
  <ion-list class="mlist1">
    <ion-list class="thumblist">
      <ion-list class="mlst1A">
        <img class="img" src="../../assets/img/thum-removebg-preview.png" alt="">
      </ion-list>

    </ion-list>
  </ion-list>
  <ion-list class="mlist2">
    <strong class="helo">Password Recovery</strong>
    <h5 class="pas">Enter four digits code we sent you <br>on your phone number </h5>
    <p class="no"><b>+92*******00</b></p>
  </ion-list>
  <ion-list class="mlist3">
  <ion-item class="items" lines="none">
    <ion-list class="pass"></ion-list>
    <ion-list class="pass"></ion-list>
    <ion-list class="pass"></ion-list>
    <ion-list class="pass"></ion-list>
  </ion-item>
  </ion-list>

  <ion-list class="mlist2">
  <ion-button fill="clear" class="button1">Next</ion-button>
</ion-list>
<ion-list class="mlist2">
  <ion-button fill="clear" class="button2">Cancel</ion-button>
</ion-list>

</ion-content>