
  <!-- <ion-tabs > -->
  <ion-footer>

    <ion-tab-bar class="maintabbar" slot="bottom">
      <ion-tab-button (click)="shop()" class="tabbaricon">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
    
      <ion-tab-button (click)="wishlist()" class="tabbaricon" tab="radio">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="flashsale()" class="tabbaricon" tab="library">
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="cart()" class="tabbaricon" tab="search">
        <p class="noti">{{this.value}}</p>
        <ion-icon name="bag-handle-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="profile()" class="tabbaricon" tab="search">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
  <!-- </ion-tabs> -->
  
