<ion-content>
  <ion-list class="mlist1">
    <ion-list class="thumblist">
      <ion-list class="mlst1A">
        <img class="img" src="../../assets/img/thum-removebg-preview.png" alt="">
      </ion-list>
      <h1 class="helo">Password Recovery</h1>
      <h5 class="pas">How you would like to restore <br>your password</h5>
    </ion-list>
  </ion-list>
<ion-list >
  <p class="mainconter"><b>SMS</b></p>
  <ion-icon class="plus" name="add-circle"></ion-icon>
</ion-list>
<ion-list>
  <p class="mainconter2"><b>EMAIL</b></p>
  <ion-icon class="plus2" name="circle"></ion-icon>
</ion-list>
  <ion-list class="mbtn">
  <ion-button class="button" >Next</ion-button>
</ion-list>
  <ion-list class="mbtn">
  <ion-button fill="clear" class="button2" >Cancel</ion-button>
</ion-list>
</ion-content>