<ion-content>
  <ion-list class="mlist1">
    <ion-list class="thumblist">
      <ion-list class="mlst1A">
        <img class="img" src="../../assets/img/thum-removebg-preview.png" alt="">
      </ion-list>
    </ion-list>
  </ion-list>
  <ion-list class="mlist2">
  <strong class="helo">Setup New Password</strong>
  <h5 class="pas">Pkease, setup a new password for <br>your account </h5>
</ion-list>
<ion-list class="mlist2">
  <input class="input" type="text" placeholder="New password">
</ion-list>
  <ion-list class="mlist2">
  <input class="input1" type="text" placeholder="Retype password">
</ion-list>
<ion-list class="mlist2">
  <ion-button class="button">Save</ion-button>
</ion-list>
<ion-list class="mlist2">
  <ion-button fill="clear" class="button2">Cancel</ion-button>
</ion-list>
</ion-content>