<ion-content [fullscreen]="true">
 <ion-list class=" mtext">
  <h1 class="setng">Settings</h1>
  <h4 class="set2">Your Profile</h4>
 </ion-list>
 <ion-list>
 <span class="fa-stack fa-lg icon2">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
</span>

 <ion-list class="mlst1A">
  <img class="img" src="../../assets/img/download (1).png" alt="">
</ion-list>
</ion-list>
<ion-list class="inputlist">
  <input class="input" type="text" placeholder="Romina">
</ion-list>
<ion-list class="inputlist">
  <input class="input" type="text" placeholder="gmail@example.com"> 
</ion-list>
<ion-list class="inputlist">
  <input class="input" type="text" placeholder="************"> 
</ion-list>
<ion-list  class="inputlist">
  <ion-button class="button" >Done</ion-button>
</ion-list>

</ion-content>
