<!-- <ion-button id="present-alert">Click Me</ion-button>
<ion-alert 
trigger="present-alert" 
class="custom-alert" 
message= '<img src="../../assets/img/IMG-20240326-WA0050.jpg" alt="">'
[buttons]="alertButtons"
cssClass="custom-alert-text"
> -->
<!-- <ion-list class="main">
<ion-list class="submain">
<ion-list class="submain2">
<ion-list class="submain3">
<ion-icon class="icon" name="alert-outline"></ion-icon>
<img src="" alt="">
</ion-list>
</ion-list>
</ion-list>
</ion-list> -->
<!-- </ion-alert> -->
<!-- toast.page.html -->
<ion-content>
  <app-data></app-data>
</ion-content>
