.main{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    z-index: 30;
    position: absolute;
    height: 80px;
    width: 80px;
    margin-top: -208px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submain{
    background-color: #FFEBEB;
    height: 55px;
    width: 55px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submain2{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submain3{
    background-color: #F1AEAE;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    color: white;
    font-size: 20px;
    // z-index: 100;
    // position: absolute;
    // margin-top: -160px;
}
