<ion-content [fullscreen]="true">
  <ion-list class="mainlist"></ion-list>
  <ion-list class="sublist">
  <swiper-container  class="mySwiper" pagination="true">
    <swiper-slide class="mslider">
      <ion-list class="mlst1">
      <img class="img1" alt="Silhouette of mountains" src="../../assets/img/baner1.jpg" />
      <h1 class="helo">Hello</h1>
      <h5>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit. <br> Sed non consectetur turpis. <br> Morbi eu eleifend lacus.</h5>
    </ion-list>
    </swiper-slide>
    <swiper-slide class="mslider">
      <ion-list class="mlst1">
        <img class="img1" alt="Silhouette of mountains" src="../../assets/img/baner2.jpg" />
        <h1 class="helo">Ready?</h1>
        <h5>Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</h5>
        <ion-button class="button">Let's Start</ion-button>
      </ion-list>
    </swiper-slide>
  </swiper-container>
</ion-list> 
  
</ion-content>