<ion-content [fullscreen]="true">
 <!-- <ion-list *ngFor="let item of Hassan1">
  <h1>{{item.name}} </h1>
  <h1 >{{item.name1}} </h1>
  <ion-button (click)="go(item)">click me</ion-button>
 </ion-list> -->
 <table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let people of filedata">
            <td>{{people.firstName}}</td>
            <td>{{people.lastName}}</td>
            <td>{{people.age}}</td>
        </tr>
    </tbody>
</table>
</ion-content>
