.mlist1{
  max-width: 500px;
  height: 400px;
  background: url('../../assets/img/Screenshot\ 2024-03-21\ 155345.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.thumblist{
  text-align: center;
  background: transparent;
  margin-top: 30px;
}
.mlst1A {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 130px;
  width: 130px;
}

.helo{
  padding-top: 20px;
}
.pas{
  margin-top: 20px;
}
.inp{
  height: 75px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.pass{
  height: 50px;
  width:50px;
  border: none;
  outline: none;
  margin-inline-start: 25px;
  border-radius: 10px;
  background-color: rgb(224, 223, 223);
}
.itemlist{
  text-align: center;
  margin-top: 190px;
}

.button2{
  color: black;
  margin-top: 5%;
}
.icon{
  color: #004CFF;
  margin-top: 6%;
}



