<ion-content [fullscreen]="true">
  <ion-list class="mlst1">
    <ion-list class="mlst1A">
      <img class="img" src="../../assets/img/download.png" alt="">
    </ion-list>
  </ion-list>
  <ion-list class="mlst2">
    <h1 class="shop">Shoppe</h1>
    <h3 class="baner">Beautiful eCommerce UI Kit <br> for your online store</h3>
  </ion-list>
  <ion-list class="mlst3">
    <ion-button (click)="home()" class="btn" color="tertiary">Let's get started</ion-button>
    <h3 class="baner">I already have an account
      <span (click)="login()" class="fa-stack fa-lg icon">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-long-arrow-right fa-stack-1x fa-inverse"></i>
      </span>
    </h3>
  </ion-list>
  <ion-list class="botom"></ion-list>
<app-footer></app-footer>
</ion-content>