.mlst1 {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

.mlst1A {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  height: 230px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 150px;
  width: 150px;
}
.mlst2{
  height: 210px;
  width: 100%;
  text-align: center;
}
.shop{
  font-size:60px;
  font-weight: bold;
}
.mlst3{
  height: 210px;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.btn{
  width: 340px;
  height: 70px;
}
.baner{
  margin-top: 40px;
}

.icon{
  color: #004CFF;
  cursor: pointer;
}



.botom{
  height: 80px;
}